venv/
.venv/
env/

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.ruff_cache/
.mypy_cache/

dist/
build/
*.egg-info/

generated_code/__pycache__/
generated_projects/*/.venv/
generated_projects/*/__pycache__/
generated_code
generated_projects